name: Deploy Project
on:
  push:
    branches:
      - main
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{runner.OS}}-build-${{hashFiles('**/package-lock.json')}}
          restore-keys: |
            ${{ runner.OS }}-build-
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
        env:
          NODE_ENV: production
          CI: false
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          cname: aroxu.me
          publish_dir: ./build
          github_token: ${{secrets.GITHUB_TOKEN}}
          publish_branch: gh-pages
